html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh; }

main {
  padding-top: 0; }

#logomotion {
  width: 100vw;
  height: 100vh;
  background-image: url("images/logo-motion.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3b3be3; }
  @media screen and (max-width: 991px) {
    #logomotion {
      background-size: auto 100%; } }
  @media screen and (max-width: 600px) {
    #logomotion {
      background-size: auto 50%; } }
